<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.draco.dfw">

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity android:name=".PermissionDialog"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:excludeFromRecents="true" />
        <receiver
            android:name="com.draco.dfw.Exec"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
